<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <a href="{{site_url()}}"><img src="{{site_url()}}img/nov.png" class="logo col-md-3" height="50px"></a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="company" class="dropdown-toggle" data-toggle="dropdown">Company <b class="caret"></b></a>
        <ul class="dropdown-menu">
    
          <li><a href="{{site_url()}}Company/vision">Vision</a></li>
          <li><a href="{{site_url()}}Company/mission">Mission</a></li>
          
          <li><a href="{{site_url()}}Company/qual_policy">Quality Policy</a></li>
      <li><a href="{{site_url()}}Company/contact">Contact</a></li>
      
      <li><a href="{{site_url()}}Company/careers">Careers</a></li>

        </ul>
      </li>
      <li class="dropdown">
        <a href="/services" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{site_url()}}Services/m_app_dev">Mobile app Development</a></li>
          <li><a href="{{site_url()}}Services/w_des_dev">Web Design & Development</a></li>
          <li><a href="{{site_url()}}Services/networking_services">Networking Services</a></li>
          <li><a href="{{site_url()}}Services/indus_IT_sol">Industry IT Solutions</a></li>
          
      <li><a href="{{site_url()}}Services/med_IT_sol">Medical IT Solutions</a></li>
      
      <li><a href="{{site_url()}}Services/edu_inform_sys">Education Information Systems</a></li>
      <li><a href="{{site_url()}}Services/online_marketing">Online Marketing</a></li>
      <li><a href="{{site_url()}}Services/crm">Customer Relationship Management</a></li>
      <li><a href="{{site_url()}}Services/data_ware">Data Warehousing</a></li>
      <li><a href="{{site_url()}}Services/google_app_setup">Google apps For Business Setup</a></li>
      <li><a href="{{site_url()}}Services/msoffice_setup">MS Office 365 Setup & Maintenance</a></li>
      <li><a href="{{site_url()}}Services/erp">Enterprise Resource Planning</a></li>
      
      <li><a href="{{site_url()}}Services/scm">Supply Chain management</a></li>
      
        </ul>
      </li>
    </ul>
	<ul>
   <li><a href="{{site_url()}}media/media">Media</a></li>
   </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Legal <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{site_url()}}legal/privacy.html">Privacy policy</a></li>
          <li><a href="{{site_url()}}legal/terms.html">Terms of use</a></li>
        </ul>
        <li><a href="#">&copy; Novus</a></li>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
