<!DOCTYPE html>
<html>
<head>
	<title>
		{{ title }}
	</title>
	<link rel="icon" type="text/css" href="{{site_url()}}img/novus-icon.png">
	<script type="text/javascript" src="{{site_url()}}js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="{{site_url()}}js/modernizr.custom.79639.js"></script>
        <script type="text/javascript" src="{{site_url()}}js/jquery.js"></script>
        <script type="text/javascript" src="{{site_url()}}js/jquery.mobile-1.3.2.min.js"></script>
        <script type="text/javascript" src="{{site_url()}}js/jquery.mobile-1.3.2.js"></script>
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/style-slider.css">
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/demo-slider.css">
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/custom.css">
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="{{site_url()}}css/jquery.mobile-1.3.2.min.css">
        <link rel="stylesheet" type="text/css" href="{{site_url()}}css/jquery.mobile-1.3.2.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{site_url()}}css/demo-sidenav.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{site_url()}}css/icons-sidenav.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{site_url()}}css/component-sidenav.css" /> -->
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/style.css">
	<link rel="stylesheet" type="text/css" href="{{site_url()}}css/font-awesome.min.css">
	<script type="text/javascript" src="{{site_url()}}js/jquery-2.0.3.min.js"></script>
</head>
<body>
{% include 'header.html.twig' %}

{% block body %}

	{% block slider %}{% endblock %}

{% endblock %}

{% include 'footer.html.twig' %}
</body>
</html>